/* Generated code */
{% for imp in  imports %}
import {{imp}} from './{{imp}}';
{% endfor %}

interface {{name}} {
{% for fld in fields %}

{% if fld.comment %}	/**
	 * {{fld.comment}}
	 */
{% endif %}	{{ fld.name }}?: {{fld.type}};
{% endfor %}
}

export default {{name}};
