/* Generated code */
{% for imp in  imports %}
import {{imp}} from './{{imp}}';
{% endfor %}

interface {{name}} {
{% for fld in fields %}

	/**
	 * {{fld.comment}}
	 */
	{{ fld.name }}?: {{fld.type}};
{% endfor %}
}

export default {{name}};
